.grid-container{
    display: grid;
    justify-content: center;
    margin-top: 5vh;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 140px 140px 50px;
    row-gap:  5px;
    column-gap: 5px;
    grid-template-areas: 
    "header header"
    "sidebar content";
}

.item1{
    background-color: orange;
    text-align:center;
    color: white;
    font-weight: bold;
    font-size:32px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
}

.item2{
    grid-area:sidebar;
    background-color: yellow;
    color:white;
    text-align: center;
    justify-content:center;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.item3{
    grid-area:sidebar;
    background-color: green;
    justify-content: center;
    color:white;
    text-align: center;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.item4{

    background-color: teal;
    color:white;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item5{
    
    background-color: skyblue;
    color:white;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}